body {
  margin: 0;
  height: 1200px;
  width: 100vh;

  /* Qora yarim shaffof qatlam + rasm */
  background-image: 
    url("Main\ page.png");

  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;


}

h1 {
  color: white;
  font-size: 2rem;
}
