$main-color: #3498db;

body {
  
  background-image: url("img/aa963f92edf1c5af8f9ff0317ab95fce466dd8ba.jpg"); // rasm yo‘lini o‘zingizga moslang
  background-size: cover;   // butun ekran bo‘ylab
  background-position: center; // markazga joylash
  background-repeat: no-repeat; // takrorlanmasin
  height: 100vh; // butun ekran balandligi
  margin: 0;     // chetlarni olib tashlash



  h1 {
    color: white;
    font-size: 2rem;
  }
}
